<div class="row">
	<div class="col-md-12">
		<div class="">
			<h3 class="page-title text-center"><strong>Refund Tiket</strong></h3>
			<div class="row">
				<form class="form-horizontal">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4 text-left"> Kode Booking : </label>
							<div class="col-sm-4">
								<input id="btnkode" type="text" class="form-control" placeholder="Kode Booking" ng-model="kode" ng-keypress="enterPressed($event)"/>
							</div>
							<div class="col-sm-4">
								<button class="btn btn-sm btn-primary" type="button" ng-click="lookup(kode)" ng-disabled="kode == ''">
									<i class="fa fa-check"></i> Periksa
								</button>
								<button class="btn btn-sm btn-primary" type="button" ng-click="clear();">
									<i class="fa fa-remove"></i> Hapus
								</button>
							</div>							
						</div>
					</div>
					<div class="col-sm-3">
					</div>
					<div class="col-sm-4" ng-if="data.details.length > 0">
						<div class="form-group">
							<label class="control-label col-sm-4 text-left">Tgl. Booking</label>
							<div class="col-sm-8">
								<div class="input-group">
									<div class="input-group-btn"><label for="ig-1" class="btn btn-default"><i class="fa fa-calendar"></i></label></div>
									<input type="text" class="form-control" placeholder="" ng-model="data.tgl_penjualan"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4 text-left">Tgl. Berangkat</label>
							<div class="col-sm-8">
								<div class="input-group">
									<div class="input-group-btn"><label for="ig-2" class="btn btn-default"><i class="fa fa-calendar"></i></label></div>
									<input type="text" class="form-control" placeholder="" ng-model="data.tgl_berangkat"/>
								</div>
							</div>
						</div>						
					</div>
					
					<div class="col-sm-4" ng-if="data.details.length > 0">
						<div class="form-group">
							<label class="control-label col-sm-4 text-left">Rute</label>
							<div class="col-sm-8">
								<div class="input-group">
									<div class="input-group-btn"><label for="ig-3" class="btn btn-default"><i class="fa fa-map-marker"></i></label></div>
									<input type="text" class="form-control" placeholder="" ng-model="data.rute"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4 text-left">Layanan</label>
							<div class="col-sm-8">
								<div class="input-group">
									<div class="input-group-btn"><label for="ig-2" class="btn btn-default"><i class="fa fa-car"></i></label></div>
									<input type="text" class="form-control" placeholder="" ng-model="data.layanan"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4" ng-if="data.details.length > 0">
						<div class="form-group">
							<label class="control-label col-sm-4 text-left">Status Booking</label>
							<div class="col-sm-8">
								<div class="input-group">
									<div class="input-group-btn"><label for="ig-2" class="btn btn-default"><i class="fa fa-lightbulb-o"></i></label></div>
									<input type="text" class="form-control" placeholder="" ng-model="data.status_pesan"/>
								</div>
							</div>
						</div>
					</div>
					
				</form>
				
			</div>
			<div class="row">
				<div class="col-sm-12 white-box">
					<p ng-if="data.details.length == 0">Data penumpang tidak ada atau semua tiket sudah refund.</p>
					<p ng-if="data.details.length > 0">Silahkan pilih data penumpang di bawa ini.</p>
					<table class="table table-bordered" ng-if="data.details.length > 0">
						<thead>
							<tr>
								<th>#</th>
								<th class="text-center"><input type="checkbox" ng-checked="isAllTiketSelected()" ng-click="selectAllTiket($event)"/></th>
								<th>Nama</th>
								<th class="text-center">Kelamin</th>
								<th class="text-center">Usia</th>
								<th>Alamat</th>
								<th class="text-center">No.ID</th>
								<th class="text-center">Jenis ID</th>
								<th class="text-center">No.Polisi</th>
								<th class="text-center">Golongan</th>
								<th class="text-right">Tarif</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in data.details">
								<td>{{$index + 1}}</td>
								<td class="text-center"><input type="checkbox" ng-checked="isTiketSelected(r)" ng-click="updateSelectedTiket($event, r)"/></td>
								<td>{{r.nama}}</td>
								<td class="text-center">{{r.jenis_kelamin}}</td>
								<td class="text-center">{{r.usia}}</td>
								<td>{{r.alamat}}</td>
								<td class="text-center">{{r.no_identitas}}</td>
								<td class="text-center">{{r.jenis_identitas}}</td>
								<td class="text-center">{{r.no_polisi}}</td>
								<td class="text-center">{{r.golongan}}</td>
								<td class="text-right">{{r.tarif|number}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="">
			<div class="row">
				<div class="col-sm-3 text-center" style="padding: 10">
					<p ng-show="data.success == true">Total Harga :</p>
					<h3 ng-show="data.success == true">Rp. {{total|number}}</h3>
					<p ng-show="data.success == true">Total Refund :</p>
					<h3 ng-show="data.success == true">Rp. {{nominal|number}}</h3>
				</div>
				<div class="col-sm-5 text-center">
					<h3>{{booking}}</h3>
					<img src="assets/images/ditemukan.png" width="64" height="64" ng-show="data.success == true"/> 
					<h3 ng-show="data.success == true">{{data.message}}</h3>
					
					<img src="assets/images/tidak.png" width="72" height="64" ng-show="data.success == false"/> 
					<h3 ng-show="data.success == false">{{data.message}}</h3>					
				</div>
				<div class="col-sm-4">
					<button class="btn btn-sm btn-danger pull-right" type="button" ng-click="next(data)" ng-disabled="selectedTiket.length == 0" ng-if="data.details.length > 0">
						Lanjut <i class="fa fa-angle-right"></i> 
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	$("#btnkode").focus();
});
</script>